{
  "test": ".*.jsx?$",
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "transform": {
        "react": {
            "runtime": "automatic",
            "pragma": "React.createElement",
            "pragmaFrag": "React.Fragment",
            "throwIfNamespace": true,
            "development": false,
            "useBuiltins": false
        }
    },
    "loose": true
  }
}
